main {
    max-width: 800px;
}

/* Profile image */
main img {
    width: 150px;
    height: auto;
}

body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Paragraph */
p {
    padding: 0;
}

/* Aside section */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: #eeeeee;
    color: #333333;
}

/* Aside image */
aside img {
    width: 200px;
    height: auto;
}

/* Footer */
footer {
    margin-top: 1rem;
    border-top: 1px solid #000;
    text-align: center;
}